.green{
  background-color: green;
}
.red{background-color: ;
}
.height{vertical-height: 50%


}
#awards{
  width: 80%;
  margin: 20px auto;
  height: 20vh



}
.maincontainer{
  width: 80%;
background-color:white;

}
.block{width:50%

}
.card{
  overflow:scroll;
  height: 410px;
}

.body{background-color:RED}
