h1{
  color: #22222;
}
body{
  background-color: #f0f0f0;
}
h4{color: blue}
.title{
  color: #001a4d;
  font-size: 50px;
  font-family: 'Teko';
}
.description{
  line-height:2 ;
  font-size: 18px;
color: #001a4d;
text-align: justify;
}
.maincard{
  margin-left: 30px;
}
.mainpars{
  margin-left: 30px;
}
.biggest{
  margin: 20px auto;
  width: 80%;
}
.mycard{
  margin: 10px;
  border-radius: 40px;
  border-style: groove;
  border-color: #888;
  box-shadow: 4px 7px gray;

}
.col{
  width: 80%;
  margin: 10px;
}
.main {
  width: 90%;
  margin: 10px auto;
}
.sub{
  width: 70%;
  margin: 10px auto;
}
.ht{
  text-align: center;
  font-size: 80px;  font-family: 'Teko';
color: 001a4d
}
.dongrey{
  background-color:  #d9d9d9;
  transition: transform .2s;

}
.dongrey:hover {
  transform: scale(1.1);
